@import "bootstrap";

/* Modifiche generali per il sito */
*{
    font-family: "Sora", serif;
}


/*
Sfondo Principale    Bianco Ottico (Optic White)    #F7FBF5
Testi e Loghi    Nero Soft    #060606
Accento Primario    Teal/Verde Acqua (Loden)    #62B4A5
Accento Caldo    Tramonto (Coral/Orange)    #FF7F50
Sfondo Sezioni    Beige Sabbia (Oyster)    #D8D0BC
*/
:root {

/* Palette generale */
    --primary-color:#F7FBF5;
    --secondary-color:#060606;
    --danger-color:#F15d56;
    --info-color:#f8f5f3;
    --warning-color:#fd9603;
}

/* Colore per Navbar */
.bg-info {

    background-color: var(--info-color) !important;
}

/* Colore per bottoni Login-Registrati */
.btn-warning {

    background-color: var(--warning-color) !important;
}

.btn-outline-warning {

    border-color: var(--warning-color) !important;
    background-color: var(--warning-color) !important;
    color: var(--secondary-color) !important;
}

/* Colore bordo personalizzato per i bottoni */
.border-warning {

    border-color: var(--warning-color) !important;
}
/* Colore background badge */
.bg-warning {

    background-color: var(--warning-color) !important
}

/* Toglie underline dei link */
a {
    text-decoration: none;
    font-family: "Sora", serif;
}

/* Toglie ombre di default agli input e cambia i colori- Rob */
.form-control:focus {

    box-shadow: none;
    border: 1px solid  #fd9603;
}

/* Colore testo  */
.text-warning {

    color: var(--warning-color) !important;
}

/* Animazioni su hover */
.hover-grow{
    transition: transform 0.2s ease;
}

.hover-grow:hover{
    transform:scale(1.2);
}

.hover-exit:hover{

    background-color: #ececec;
}

.img-preview{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 120px;
    width: 120px;
}

/* Barra di navigazione presente in Zona Revisore- Rob */
.page-link {
    background-color:#ececec !important;
    color: #060606;
    border: 1px solid lightgrey;
}

/* Quando fai hover- Rob */
.page-link:hover {
    color: #fd9603;
    border: 1px solid lightgrey;
}

/* Quando lo clicchi- Rob */
.page-link:focus{
    border-color: #fd9603 !important;
    box-shadow:  0 0 10px  #fd9603  ;
}

/* Elemento selezionato-attivo- Rob */
.active > .page-link {
    background-color: #fd9603 !important;
    color: #060606;
    border-color: #000000  !important;
}

/* Freccie Carosello -Rob*/
.carousel-control-next-icon {

    background-color: rgb(0, 0, 0);
    border-radius: 30px;
    
}
.carousel-control-prev-icon {

    background-color: rgb(0, 0, 0);
    border-radius: 50px;
    
}

.carousel-indicator {

    color: #fd9603 !important;
}

/* Dimensioni Card -Rob */
.card-w{
    width:100%;
    max-width:380px;
    min-height:490px;
}

.img-card-custom{
    height:300px;
    object-fit:cover;
}

/* Taglia il testo quando è troppo lungo e sostituisce con "..." */
.text-overflow{
white-space: nowrap;
overflow: hidden;
text-overflow: ellipsis;
}
 
